body{
    background-color:#e4f1fe;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #e8ecf1 ;
}

header{
  background-color:#1e8bc3;
}

.padding {
  padding: 50px;
}
.board-text{
font-size: 18px;
font-weight: 500;
}

.row { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-vertical { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column_log {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.box{
  display: flex;
  flex: 0 0 32%;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}


.box:hover{
  transform: scale(0.9); 
}


.box2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.space2{
  display: flex;
  justify-content: center;
}

.space_bund{
  margin: 10px
}

.list-space{
  margin: 20px;
}


.box_100{
  display: flex;
  flex: 0 0 100%;
  cursor: pointer;
  transition: all .2s ease-in-out; 
  background-color: cadetblue;
}



.center-items{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-space{
  margin-top: 20px;
}

input{
  background-color: #ffffff;
  padding: 10px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
input:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.list-input{
  box-shadow: none;
}

select{
  background-color: #ffffff;
  padding: 10px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-right: 10px;
  margin-left: 10px;
}

ul {
  margin: 0;
  }
  
  a {
  text-decoration: none;
  color: #2e3131;
  }
  span {
  font-weight: bolder;
  cursor: pointer;
  }

button {
  background-color: #ffffff;
  padding: 10px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: #ffffff;
  width: 150px;
  text-align: center;
  }

  .login-color{
    background-color: #1e8bc3;
  }

  .signup-color{
    background-color: #1ca360;
  }

  .logout-color{
    background-color: #c6491d;
  }

  .user-name{
    font-size: 18px;
    padding: 5px;
  }

  .delete{
    padding: 10px;
    font-size: 30px;
  }


  h1{
  color: #ffffff;
  }

h3{
  color: #2e3131;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
   .column {
     min-width: 100%;
     width: 100%;
     margin: 10px 0;
  }
  h1{
    font-size: 18px;
    margin-top: 0;
    }

  .user-name{
    font-size: 14px;
    margin-top: -20px;
  }
}

.card-body{
  width: 100%;
}

/* LABELS */
.modal-body form {
  display: flex;
  flex-direction: column;
  }
  .label-title {
  font-weight: 300;
  margin: 15px 0;
  color: #2e3131;
  font-size: 18px;
  }
  .label {
    min-height: 50px;
  margin: 0 3px;
  padding: 5px 20px;
  border-radius: 5px;
  }

.modal-wrapper{
  position: fixed;
  padding-top: 150px;
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.modal-body{
margin: auto;
padding: 20px;
border-radius: 5px;
width: 80%;
background-color: #fefefe;
border: 1px solid #888;
}


.modal-close{
  float: right;
  font-size: 1.5em;
  color: #282c34;
}

.textbox-edit {
  margin-top: 25px;
  padding: 2em;
  font-size: 1em;
  width: 50%;
  background-color: #e4f1fe;
  border-radius: 5px;
  }

  .edit-area {
    position: relative;
    }


textarea.textbox-edit:hover {
  transform: scale(1.01);
  }

.modal-wrapper button {
  margin: 20px 0 0 0;
  background: rgb(73, 176, 236);
  width: 30%;
    }

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.board-wrapper{padding: 0px}

.new-card-wrapper{
  background-color:none;
}

.new-list-wrapper{
  padding: 50px;
}
.list-wrapper{
  background-color: darksalmon;
}

.list{
  background-color: cornflowerblue;;
}

.list-header{
background-color: none;
}

.peterwind{
  background-color: #e4f1fe;
  color: #2e3131;
  font-size: 24px;
  border: none;
  outline: none;

}
.card{
  background-color: #e4f1fe;
  color: #000000;
  padding: 10px;
}
