body{
    background-color: ##F2F1EF;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 768px) {
  .container {
    overflow: auto;
  }
   .column {
     min-width: 100%;
     width: 100%;
     margin: 10px 0;
  }
}


.padding {
  padding: 50px;
}
.board-text{
font-size: 18px;
font-weight: 500;
}

.row { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.space{
  display: flex;
  align-items: center;
  justify-content: center;
}

.space2{
  display: flex;
  justify-content: center;
}

.space_bund{
  margin: 10px
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  
  

}

.box{
  display: flex;
  flex: 0 0 32%;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.box2{
  display: flex;
  flex: 0 0 32%;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.box_100{
  display: flex;
  flex: 0 0 100%;
  

  cursor: pointer;
  transition: all .2s ease-in-out; 
  background-color: cadetblue;
}



.box:hover{
  transform: scale(0.9); 
}




















ul {
  margin: 0;
  }
  
  a {
  text-decoration: none;
  }
  span {
  font-weight: bolder;
  cursor: pointer;
  }

button {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  }


  
  
  
  


/* LABELS */
.modal-body form {
  display: flex;
  flex-direction: column;
  }
  .label-title {
  font-weight: 300;
  margin: 15px 0;
  }
  .label {
    min-height: 50px;
  margin: 0 3px;
  padding: 5px 20px;
  border-radius: 5px;
  }

.modal-wrapper{
  position: fixed;
  padding-top: 150px;
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.modal-body{
margin: auto;
padding: 20px;
border-radius: 5px;
width: 80%;
background-color: #fefefe;
border: 1px solid #888;
}


.modal-close{
  float: right;
  font-size: 1.5em;
  color: #282c34;
}

.textbox-edit {
  margin-top: 25px;
  padding: 2em;
  font-size: 1em;
  width: 50%;
  background: rgb(226, 221, 221);
  border-radius: 5px;
  }

  .edit-area {
    position: relative;
    }
    
    .edit-icon {
  position: absolute;
  top: 35px;
  left: 10px;
    }

textarea.textbox-edit:hover {
  transform: scale(1.01);
  }

.modal-wrapper button {
  margin: 20px 0 0 0;
  background: rgb(73, 176, 236);
  width: 30%;
    }

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.board-wrapper{padding: 0px}

.new-card-wrapper{
  background-color: darkslateblue;
}

.new-list-wrapper{
  background-color: darkslategray;
  padding: 50px;
}
.list-wrapper{
  background-color: darksalmon;
}

.list{
  background-color: cornflowerblue;;
}

.list-header{
background-color: brown;
}

.peterwind{
  background-color:transparent;
  color: #ffffff;
  font-size: 24px;
  border: none;
  outline: none;
}
.card{
  background-color: darkgoldenrod;;
}
